body {
    background-color: #262525;
}
.wrapper {
    height: calc(50vw + 50vh);
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(2,43%);
    --w1:800px;
    --n:3;
    --w2:400px;
    --m:1;
    justify-content: center;
}
.top-container {
    height: calc(12vw + 12vh);
    background-color: #20b465;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(3, 60%);
    grid-auto-rows: minmax(300px, auto);
}
.top-text {
    background-color: #20b465;
    font-size: calc(3vw + 3vh);
    color: white;
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: center;
    align-items: center;
    grid-row: 1/-1;
    font-family: Helvetica, sans-serif;
}
.bottom-container {
    display:grid;
    grid-template-columns:repeat(auto-fill,
        minmax(clamp(clamp(
                    100%/(var(--n) + 1) + 0.1%,
                    (var(--w1) - 100vw)*1000,
                    100%/(var(--m) + 1) + 0.1%),
                    (var(--w2) - 100vw)*1000,
                    100%), 1fr));
    justify-content: center;
    align-content: center;
}

.bottom-box {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.title {
    display: flex;
    justify-content: center;
    align-content: center;
}
.box {
    display: block;
    width: 150px;
    height: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}
.blue {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: #0066ff;
}
.orange {
    background: orange;
}
.green {
    background: #20b465;
}
li {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    list-style-type: none;
    font-size: calc(.8vw + .8vh);
    font-family: Helvetica, sans-serif;
}
.titleHead {
    text-align: center;
    font-size: calc(1vw + 1vh);
}
body > div > div.bottom-container > div:nth-child(1) > div > div {
    display: flex;
    justify-content: center;
    align-content: center;
}

